body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #222;
}

.fabricApp a,
.fabricApp a:hover {
  text-decoration: none;
  color: #222;
}

.fabricApp h1 {
  font-size: larger;
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}
